body {
    --main-color-1: #37DEFF;
    --main-color-2: #5D5B5C;
}

.App {
    background-color: var(--main-color-2);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

